{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <h1>
        {# app.user permet de récupérer les infos utilisateur connecté. -> .pseudo permet afficher pseudo #}
        Bienvenue {{ app.user.pseudo }}
        <p> {{ app.user.email }} </p>
    </h1>
{% endblock %}
